apiVersion: v1
kind: Service
metadata:
  name: {{ include "registry-core-ui.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "registry-core-ui.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.service.targetPort }}
    protocol: TCP
    name: http
  selector:
    {{- include "registry-core-ui.selectorLabels" . | nindent 4 }}
